/* arrayvisualizer.css */

.array-visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .array-description {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.5;
  }

  .array-visualized{
    display: flex;
  }

  .operation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .operation {
    padding: 10px 20px;
    margin: 0 10px; /* Adjust margin between buttons */
    border-radius: 20px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s; /* Add transition for smooth effect */
  }
  
  .operation:hover {
    background-color: #27ae60; /* Darker green color on hover */
  }

  .operation-description{
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Adjust margin as needed */
  }

  .array-element {
    position: relative;
    width: 30px; /* Adjust width as needed */
    height: 30px;
    background-color: #3498db;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align elements at the bottom */
    align-items: center;
    margin: 0 3px; /* Adjust margin as needed */
    border: 2px solid white;
  }
  
  .index,
  .value {
    font-size: 12px;
    margin-bottom: 4px; /* Adjust margin as needed */
    text-align: center;
}
  
  .index {
    color: black;
  }
  