/* Navbar.css */

.navbar {
  background-color: #333; /* Dark background color */
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-section {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.right-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Set the desired width for your logo */
  height: auto;
}
