/* App.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.controls {
  margin-bottom: 20px;
}

.array-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 300px;
}

.array-bar {
  width: 26px;
  margin: auto 2px 0; /* Set margin-top to auto, margin-bottom to 0 */
  background-color: #3498db;
  border: 1px solid #333;
  border-radius: 5px;
  transform: scaleY(-1);
}

.array-bar-label {
  text-align: center;
  transform: scaleY(-1); /* Flip the text upside down */
}

.array-bar.swapping {
  background-color: #e74c3c;
}

/* Additional styling for buttons */
button {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
